*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {

    background-color: blue;
}

footer{

    background-color: brown;
    height: 15vh;
}

section{

    background-color: chocolate;

}

article{
    border-radius: 1px ;
    background-color: aqua;
    width: 25%;
       
}